PING_IDENTITY_ACCEPT_EULA=YES

# Password used by PF to talk to PD
PF_USER_PWD=2FederateM0re

# PF Logging Level
PF_LOG_LEVEL=DEBUG

# PF Logging Level
PA_LOG_LEVEL=DEBUG

# PD User DN
USER_BASE_DN=dc=example.com